
*{
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  display: inherit;
  align-items: inherit;
}

.group-maked {
 background-color:#38AEF0;
 color:#fff;
 height: 20px;
 text-align: center;
 display: none;
}

.side-bar {
  width: 300px;
  background-color:#2f3e51;
  float: left;
  height: 100%;
  color: #fff;
  position: fixed;
  z-index: 5;
  .header {
    height: 100px;
    background-color:#253141;
    padding: 0 20px;
    display: flex;
    align-items: center;
    &__box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .header__name {
        font-weight: bold;
        font-size: 16px;
      }
      .header__lists {
        display: flex;
        .list{
          font-size: 16px;
          float: left;
          margin-left: 10px;
        }
      }
    }
  }
  .groups {
    padding: 20px 20px 0 20px;
    height: calc(100vh - 100px);
    width: 300px;
    .group {
      padding-bottom: 40px;
      &__name {
        font-size: 15px;
        padding-bottom: 5px;
      }
      &__message{
        font-size: 11px;
        padding-bottom:30px;
      }
    }
  }
}

.contents {
  // height: 100%;
  width: calc(100vw - 300px);
  float: right;
  &__header {
    height: 100px;
    padding: 0 40px;
    border-bottom: 1px solid #eee;
    width: calc(100vw - 300px);
    position: fixed;
    z-index: 5;
    background-color: #fff;
    &__left {
      float: left;
      padding-top: 35px;
      &__name {
        font-size: 20px;
        color: #333;
        padding-bottom: 15px;
        }
      &__member {
        font-size: 12px;
        color:#999;
        }
    }
    &__right a {
      text-decoration: none;
      float: right;
      padding: 0 20px;
      margin-top: 28px;
      border: 1px solid #38aef0;
      height: 40px;
      color: #38aef0;
      line-height: 40px;
      display: block;
    }
  }

  .messages {
    margin: 100px 0 90px;
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: auto; 
    .message {
      padding-bottom: 40px;
      overflow: auto; 
      .upper-message {
        margin-bottom: 10px;
        display: flex;
        .upper-message__user-name {
          font-size: 16px;
          font-weight: bold;
          color: #434A54;
          display: inline-block;
        }
        .upper-message__date {
          font-size: 12px;
          color: #999;
          padding-left: 10px;
          display: inline-block;
        }
      }
    }
        .lower-message {
          font-size: 14px;
          color: #434A54;
      }
    }
  
  .contents__form {
    height: 90px;
    background-color: #ddd;
    padding: 20px 40px;
    position: fixed;
    bottom: 0;
    width: calc(100vw - 300px);

    .form {
      height: 50px;
      width: 100%;
      display: flex;
      .new_message{
        display: flex;
        width: 100%;
        position: relative;
        .form__message{
          position: relative;
          width: 100%;
          display: block;
          margin-right: 15px;
          border-style: none;
          width: 100%;
          height: 50px;
          align-items: center;
          padding-left: 10px;
          padding-right: 40px;
        }
        .form__mask {
          &__image{
            font-size: 1.3rem;
            position: absolute;
            top: 10px;
            right: 140px;
            cursor: pointer;
            .hidden {
              display: none;
            }
            
          }
          }
        
        .form__submit {
        height: 50x;
        width: 100px;
        background-color: #38AEF0;
        color: #fff;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 15px;
        float: right;
       }
      }
     }
    }
}
   




