.notification {
  .notice {
    background-color: $light_blue;
    color: $white;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 10;
   width:100%;
  }

  .alert {
    background-color: $alert_orange;
    color: $white;
    text-align: center;
  }
}